/*****************************************************
MARK: General
*****************************************************/

@font-face {
    font-family: 'enter-the-gungeon-big';
    font-style: normal;
    font-weight: normal;
    src: url('../font/enter-the-gungeon-big.woff') format('woff');
}

html{
    font-family:'enter-the-gungeon-big' !important;
}

* {
    user-select: none;
}

body {
    display: flex;
    overflow: hidden;
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*****************************************************
MARK: inventory
*****************************************************/
#inventory{
    display: flex;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #572a01, #7e3d00);
    justify-content: center;
}

.inventory-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#inventory-container-left , #inventory-container-right{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inventory-section {
    width: 100%;
}

/******** inventory-equipment ********/
.inventory-equipment { 
    height: 58%;
    background-color: #161616;
    display: flex;
    justify-content: center;
    position: relative;
}

.inventory-equipment #inventory-equipment-box{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inventory-equipment #inventory-equipment-box ul{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inventory-equipment #inventory-equipment-box ul li{
    height: 20%;
    background-color: #252525;
}

.inventory-equipment img {
    height: 100%;
}
/******** inventory-stats-item ********/
.inventory-stats-item { 
    height: 38%;
    background-color: #b18409;
    display: flex;
}

.inventory-stats-item #inventory-stats-item-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* .inventory-stats-item #inventory-stats-item-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
} */

.inventory-stats-item ul{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inventory-stats-item ul li{
    margin: 2% 0%;
}

/******** inventory-items ********/
.inventory-items {
    height: 98%;
    background-color: #082136;
}

.inventory-items ul{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* Estilo general de la barra */
.inventory-items ul::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra */
}

/* Color de fondo del scrollbar */
.inventory-items ul::-webkit-scrollbar-track {
    background: #F4F4F4; /* Gris claro */
    border-radius: 4px; /* Bordes redondeados */
}

/* Color y diseño del "thumb" (barra que se mueve) */
.inventory-items ul::-webkit-scrollbar-thumb {
    background: #7B1FA2; /* Morado intenso */
    border-radius: 4px; /* Bordes redondeados */
}

/* Efecto al pasar el mouse */
.inventory-items ul::-webkit-scrollbar-thumb:hover {
    background: #FFC300; /* Amarillo vibrante */
}

.inventory-items ul li{
    background-color: brown;
    width: calc(100% - 16px);
    height: 49px;
    display: flex;
    margin: 24px 0px;
    padding: 8px;
    object-fit: contain;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.inventory-items ul li img{
    width: unset;
}

.inventory-items ul li span{
    font-size: 2rem;
}